.MainContainer {
    width: 1200px;
    height: 1100px;
    box-shadow: -4px #E0E0E0;
    position: relative;
}
.MainContainer .Content {
    top: 260px;
    left: 145px;
    text-align: center;
    line-height: 70px;
    position: absolute;
}
.MainContainer .Content p {
    font-size: 22px;
}